.ProfilePage{
  background-color: white;
}

.UserProfile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1400px;
  column-gap: 16px;
  row-gap: 16px;
}

.container {
  margin-top: 30px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 650px;
}

.PictureProfile {
  width: 36%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 32%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 4px solid rgb(226, 226, 226);
}

.EditButton {
  width: 112px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 1px solid gray;
}

.Information {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(255, 255, 255);
  max-height: 550px;
}

.TextSpace {
  height: 1px;
}

.TextTitle {
  display: flex;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
}

.TextBox {
  margin: 20px;
  background-color: rgb(224, 220, 220);
  border-radius: 10px;
  height: 50px;
  width: 250px;
}

.NameText{
  padding: 10px;
}

.EditingBox{
  margin-top: auto;
  
  display: flex;
  flex-direction: row;
}

.CancelButton {
  width: 112px;
  display: flex;
  justify-content: center;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 1px solid gray;
}

.UpdateButton {
  width: 112px;
  display: flex;
  justify-content: center;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: rgb(29, 240, 29);
  border: 1px solid gray;
}