.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 369px;
    height: 692px;
    background-color: #525E6A;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}

  
.header {
    position: relative;
    width: 100%;
    height: 59px;
    background-color: #05C480;
    border-radius: 20px;
    margin-bottom: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    color: #000000;
    font-size: 25px;
    text-align: center;
    line-height: 10px;
}

.closeIcon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #DE4444;
    font-size: 40px;
}
  
  
  .input-field {
    border: none;
    border-radius: 10px;
    margin-bottom: 36px; 
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
  }
  
  .input-field.large {
    width: 276px;
    height: 41px;
    background-color: #FFFFFF;
    color: #000000;
  }
  
  .input-field.small {
    width: 133px;
    height: 41px;
    background-color: #FFFFFF;
    margin-right: 5px;
    color: #000000;
  }
  
  .input-group {
    display: flex;
    justify-content: space-between;
  }
  
  .button {
    width: 150px;
    height: 41px;
    background-color: #05C582;
    border-radius: 20px;
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
  }
  
  .input-field.error {
    border: 2px solid red;
    background-color: #EF6B6B; 
    animation: shake 0.3s linear;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    20%, 60% {
      transform: translateX(-10px);
    }
    40%, 80% {
      transform: translateX(10px);
    }
  }
  