.EDC-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: auto;
}

.EDC-popup {
  width: 1100px;
  height: auto; /* ปรับเป็น auto เพื่อรองรับขนาดที่เปลี่ยนแปลง */
  margin: auto;
  background-color: #ffffff; /* สีพื้นหลังให้เป็นสีขาว */
  padding: 20px;
  border-radius: 20px; /* ปรับให้มนลง */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* เพิ่มเงาเพื่อความมีมิติ */
}

.EDC-button1, .EDC-button2 {
  width: 150px;
  height: 50px;
  font-size: 16px;
  padding: 10px;
  border-radius: 25px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #007BFF; /* สีฟ้า */
  margin-right: 10px; /* ให้มีระยะห่างระหว่างปุ่ม */
}

.EDC-button2 {
  background-color: #28A745; /* สีเขียว */
}

.EDC-inputField {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
  width: 100%; /* กำหนดขนาดให้เต็มความกว้างของ container */
  box-sizing: border-box; /* ช่วยให้การคำนวณขนาดถูกต้อง */
}

.EDC-inputRow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.EDC-icon {
  margin-left: 10px;
  cursor: pointer;
  color: #007BFF; /* สีฟ้า */
}

.EDC-deleteRow {
  color: #dc3545; /* สีแดง */
}

.EDC-addRow1, .EDC-addRow2 {
  color: #28A745; /* สีเขียว */
}

.EDC-actionButtons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.EDC-buttonA {
  background-color: #007BFF; /* สีฟ้า */
}

.EDC-buttonB {
  background-color: #dc3545; /* สีแดง */
}
