.requests-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 150px);
  width: calc(100vw - 65px);
  padding-top: 150px;
}

.tabs {
  display: flex;
  position: relative;
  background-color: #f2eeee;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 6px 12px 0 rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
  border-radius: 99px;
  color: black;
}

.tabs * {
  z-index: 2;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 200px;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.glider {
  position: absolute;
  display: flex;
  height: 54px;
  width: 200px;
  background-color: #D9D9D9;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked+label {
  color: #000000;
}

input[id="radio-new"]:checked~.glider {
  transform: translateX(0);
}

input[id="radio-responded"]:checked~.glider {
  transform: translateX(100%);
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  border-radius: 50%;
  background-color: #56e95b;
  transition: 0.15s ease-in;
}

input[type="radio"]:checked+label>.notification {
  background-color: #EF6B6B;
  color: #fff;
}

.request-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #a19c9c;
  border-radius: 8px;
  margin-top: 15px ;
  max-width: 80%;
  width: 40%;
}

.request-info {
  font-size: 16px;
  color: black;
}

.status-container {
  display: flex;
}

.status-button {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.status-button.considered,
.status-button.not-considered {
  background-color: #4CAF50;
  color: white;
}

.status-button.not-considered {
  background-color: #EF6B6B;
}

.status-button.cancel {
  background-color: #FFA500;
  color: white;
}

.loading-text {
  color: #888;
  font-size: 18px;
}

.error-text {
  color: red;
  font-size: 18px;
}
