.schedule-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 820px;
    background-color: #525E6A;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .subject-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .time-frame {
    background-color: #f8ef4a;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .day, .time, .course-code, .course-name, .classroom {
    color: #000000;
    font-size: 20px;
  }
  
  .course-code, .course-name, .classroom {
    flex: 1;
  }
  