.course-details-container {
    font-family: Arial, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: calc(100vw - 65px);
    height: 100vh;
    padding-top: 120px;
    color: #2c322c;
}

.course-details-table {
    width: 90%;
    max-width: 1000px;
    border-collapse: collapse;
}

.term-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 50px;
}

.course-details-table th,
.course-details-table td {
    padding: 5px;
    text-align: left;
    border: 1px solid #ddd;
    color: black;
}

.course-details-table th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

.course-details-table tbody tr:nth-child(odd) {
    background-color: #f9ecec;
}

.course-details-table tbody tr:nth-child(even) {
    background-color: #ecf9f9;
}

.add-course-button {
    align-items: center;
    justify-content: center;
    background-color: #4CAF50;
    border-radius: 10px;
    font-size: 11px;
}

.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 90px;
    right: 20px;
    padding: 10px 20px;
    font-size: 36px;
    background-color: #454343;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #ffffff;
}

.back-button:hover {
    background-color: #ea0d0d;
}

.edit-delete-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.edit-delete-buttons .edit-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.edit-delete-buttons .delete-button {
    background-color: #FF4C4C;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.course-details-table input[type="text"],
.course-details-table input[type="checkbox"] {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    width: 100%;
}

.course-details-table input[type="checkbox"] {
    margin: 0;
    cursor: pointer;
}

.course-details-table input:focus {
    border-color: #4CAF50;
    outline: none;
}

.course-details-table input[type="text"]::placeholder {
    color: #999;
}

