.edit-course-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: calc(100vw - 65px);
}

.edit-course-table {
  width: 50%;
  border-collapse: collapse;
  border-radius: 10px;
}

.edit-course-table th,
.edit-course-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.edit-course-table th {
  background-color: #167f92;
  color: #fff;
}

.edit-course-icon {
  font-size: 1.2em;
  margin-right: 10px;
  cursor: pointer;
}

.edit-course-table tbody tr:nth-child(odd) {
  background-color: #eaf3f3;
  color: darkslategrey;
}

.edit-course-table tbody tr:nth-child(even) {
  background-color: #d7e7e9;
  color: darkslategrey;
}

.edit-course-table td:last-child,
.edit-course-table th:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
