.manage-container {
  position: relative;
  height: 100vh;
  width: calc(100vw - 65px);
  background-color: #ffd000;
}

.header {
  background-color: #cc0000;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.edit-table {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 50px;
}

.edit-table th, .edit-table td {
  padding: 8px 15px;
  text-align: center;
  border: 1px solid #ddd;
}

.add-button, .next-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.add-button {
  top: 10%;
}

.next-button {
  bottom: 30px;
  right: 100px;
  background-color: #767676;
}

.next-button:hover {
  background-color: #45a049;
}

.edit-table input, .edit-table select {
  width: 100%;
  padding: 1px;
  border: none;
  text-align: center;
  background: #D9D9D9;
}

input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #9c9c9c;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
}
